{% extends 'base.html' %}
{% from "_form_field.html" import form_field %}
{% block contenido %}
<fieldset class="form-group">
  <legend class="border-bottom mb-4 title-account">{{ current_user.username }}</legend>
  {% if current_user.upload %}
    <img class="image-account" src="{{ current_user.upload_path }}" alt="Foto de mi perfil">
  {% endif %}
  <form method="post" class="w-50 media-body" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form_field(form.username, class='form-control') }}
    </div>
    <div class="form-group">
      {{ form_field(form.email, class='form-control') }}
    </div>
    <div class="form-group">
      {{ form_field(form.name, class='form-control') }}
    </div>
    <div class="form-group">
      {{ form_field(form.address, class='form-control') }}
    </div>
    <div class="form-group">
      {{ form_field(form.upload) }}
      <a href="{{ current_user.upload_path }}">Mi Imagen</a>
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-primary") }}
    </div>

  </form>
</fieldset>

{% endblock contenido %}
