{% extends 'base.html' %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        {% if user.upload|length > 3 %}
        <img src="{{ user.upload_path }}" class="card-img-top image-account" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}</h5>
          {% if user.name %}<p class="card-text">{{ user.name }}</p>{% endif %}
          <p class="card-text">{{ user.email }}</p>
          <div class="mx-center  d-flex justify-content-between">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Followers">
              Seguidores <span class="badge badge-light">{{ user.followers.all() | count }}</span>
            </button>
            <div class="my-2"></div>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Followeds">
              Siguiendo <span class="badge badge-light">{{ user.followed.all() | count }}</span>
            </button>
          </div>
        </div>
        {% if current_user.is_authenticated and current_user != user %}
        <div class="card-body">
          {% if not current_user.is_following(user) %}
          <button type="button" id="follow" data-url="{{ url_for('users.follow', slug = user.slug) }}"
            class="btn-sm btn btn-success">Seguir
          </button>
          {% else %}
          <button type="button" id="unfollow" data-url="{{ url_for('users.unfollow', slug = user.slug) }}"
            class="btn-sm btn btn-secondary">Dejar de seguir
          </button>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-8">
      <h3 class="text-teal">Post publicados por <b><em>{{ user.username }}</em></b></h3>
      {% for post in posts %}
      {% if post.publishied %}
      <fieldset class="shadow col-lg-10 col-sm-4 my-3">
        <legend>
          <h4 class="text-primary"><a href="{{ url_for('posts.post_show', slug = post.slug) }}">{{post.title}}</a></h4>
        </legend>
        {% if post.upload %}
        <img class="post-img" src="{{ post.upload_path }}" alt="Imagen del Post" style="width: 240px;">
        {% else %}
        {% endif %}
        <p class="text-body">{{ post.content_html | safe | truncate(150)}}</p>
        <p class="text-muted">{{ post.date_register.strftime('%d ,%B %Y') }}</p>
        <b class="my-3 text-secondary">Cometarios: {{ post.comments | count }}</b>
      </fieldset>
      {% elif current_user == post.author and not post.publishied %}
      <fieldset class="shadow col-lg-10 col-sm-4 post-ban my-3">
        <legend>
          <h4 class="post-title-ban">{{post.title}}</h4>
        </legend>
        <p class="text-break post-ban-body">Este post fue baneado. Comunicate con el Staff <a href=""></a></p>
      </fieldset>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include 'users/_follows.html' %}
{% endblock %}