.image-account {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2rem;
}

.title-account {
  font-size: 25px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img-profile {
  max-height: 25px;
  max-width: 25px;
  margin-right: 5px;
  box-sizing: border-box;
}

.meta-data {
  font-size: 12px;
  box-sizing: border-box;
}

.list-item {
  list-style-type: none;
  display: block;
  padding: 0.3rem;
  border-top: 1px solid #8c8080;
}

.list-item img {
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
}

.count-follow {
  display: inline-block;
}
