<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-sticky">
	<a class="navbar-brand" href="{{ url_for('main.home') }}">{{ APP_NAME }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basePost" aria-controls="basePost"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="basePost">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if request.path == url_for('main.home') %}active{% endif %}">
				<a class="nav-link" href="{{ url_for('main.home') }}">Inicio</a>
			</li>
			<li class="nav-item {% if request.path == url_for('main.about') %}active{% endif %}">
				<a class="nav-link" href="{{ url_for('main.about') }}">Sobre nosotros</a>
			</li>
			<li class="nav-item">
				<a href="{{ GITHUB }}" target="_blank" class="nav-link">GitHub</a>
			</li>
		</ul>
		{% if not current_user.is_authenticated %}
		<ul class="navbar-nav mr-0">
			<li class="nav-item {% if request.path == url_for('users.register') %}active{% endif %}">
				<a class="nav-link" href="{{ url_for('users.register') }}">Registrarse</a>
			</li>
			<li class="nav-item {% if request.path == url_for('users.login') %}active{% endif %}">
				<a class="nav-link" href="{{ url_for('users.login') }}">Iniciar Sesión</a>
			</li>
		</ul>
		{% else %}
		<ul class="navbar-nav mr-0">
			<div class="nav-item btn-group dropleft ml-5">
				<button class="btn btn-outline-light" type="button" id="dropdownOptionsAccount" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					{% if current_user.upload %}
						<img class="account-img-profile" src="{{ current_user.upload_path }}" href="{{ url_for('users.account', slug = current_user.slug)}}">
					{% else %}
					{% endif %}
					{{ current_user.username }}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownOptionsAccount">
					{% if current_user.is_administrator %}
					<a class="dropdown-item" href="{{ url_for('admin.index') }}">Ir al Dashboard</a>
					{% endif %}
					<a class="dropdown-item" href="{{ url_for('users.show', slug = current_user.slug) }}">Mi Perfil</a>
					<a class="dropdown-item" href="{{ url_for('users.account', slug = current_user.slug) }}">Editar Mi Perfil</a>
					<a class="dropdown-item text-danger" href="{{ url_for('users.logout') }}">Salir</a>
				</div>
			</div>
		</ul>
		{% endif %}
	</div>
</nav>