<div class="row my-3 border py-2 pr-1">
  {% for comment in comments_of_post %}
  <div class="col-10 media mb-4" id="comments">
    <img src="{{ comment.author.upload_path }}" class="mr-3 comment-img-author" alt="...">
    <div class="media-body">
      <a href="{{ url_for('users.show', slug = comment.author.slug) }}"><b>{{ comment.author.username
          }}</b></a> <br> <b class="small text-secondary">Publicado: </b><em class="text-secondary">{{
        momentjs(comment.timestamp).formatNow() }}</em>
      <div class="text-break text-justify">
        {{ comment.body }}
      </div>
    </div>
  </div>
  {% if current_user == comment.author %}
  <form action="{{ url_for('posts.comment_delete', slug = comment.post.slug, comment_id = comment.id) }}" method="post"
    class="col-2">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn-sm btn btn-outline-danger">
      <i class="fal fa-trash-alt"></i>
    </button>
  </form>
  {% endif %}
  {% else %}
  <p>Por el momento su post no tiene comentarios.
  <h3><i class="far fa-empty-set"></i></h3>
  </p>
  {% endfor %}
</div>