{% extends 'base.html' %}
{% block contenido %}
<div class="row">
  <div class="col col-12">
    <div class="jumbotron contenedor">
      <img class="img-fluid" src="{{ url_for('static', filename='uploads/redes.jpg') }}" alt="">
      <div class="centrado container-fluid">
        <h1 class="display-4">Redes de Computadoras</h1>
        <p class="lead">Servidor Web en Centos 8, Flask, Gunicorn, Nginx 😀</p>
        <hr class="my-4">
        <p>Redes de Computadoras</p>
        <a class="btn-sm btn btn-outline-primary text-light" href="#" role="button">Descargar Trabajo</a>
      </div>
    </div>

  </div>
  <div class="col col-sm-8 col-md-8">
    {% if posts %}
    {% for post in posts.items %}
    <div class="shadow post-show my-5">
      <legend>
        <h3><a class="text-info text-decoration-none"
            href="{{ url_for('posts.post', slug = post.slug) }}">{{post.title}}</a></h3>
      </legend>
      <div id="post-public">
        {% if post.upload %}
        <img class="post-img" src="{{ post.upload_path }}" alt="Imagen del Post" style="width: 340px;">
        {% endif %}
        <div class="post-content">
          {% if post.content_html %}
          <p class="text-break">{{ post.content_html | safe | truncate(150)}}</p>
          {% else %}
          <p class="text-break">{{ post.content | truncate(150)}}</p>
          {% endif %}
          <p class="text-muted">{{post.date_register.strftime('%d ,%B %Y')}}</p>
        </div>

        <div class="meta-data">
          <a class="text-success text-decoration-none" href="{{ url_for('users.show', slug = post.author.slug ) }}">
            {% if post.author.upload %}
            <img class="image-account-post" src="{{ post.author.upload_path }}" alt="Foto de mi perfil">
            {% elif post.author.url_image %}
            <img class="image-account-post" src="{{ post.author.url_image }}" alt="Foto de mi perfil">
            {% endif %}
            <b>{{ post.author.username}}</b>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="my-3">
      {% if posts %}
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current = 1, right_current=3) %}
      {% if page_num %}
      {% if posts.page==page_num %}
      <a class="btn btn-info" href="{{ url_for('main.home', page = page_num)}}">{{ page_num }}</a>
      {% else %}
      <a class="btn btn-outline-info" href="{{ url_for('main.home', page = page_num)}}">{{ page_num }}</a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock contenido %}